{% extends 'SProvider/Header.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style12 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">View  Prediction Of Water Distribution Attacks Type !!! </p>
                            <hr>
                            <div class="tweettext">
                               <table border="5" bordercolor="#FF00FF">

                                   <tr>

                                       <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Pump_Speed</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Flow_Rate</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">pH_Level</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Chlorine_Level</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Turbidity</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Temperature</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Pressure</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Operational_Status</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Quality_Flag</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Quality_Flag</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Prediction</span></div></td>

                      </tr>
                            {% for object in list_objects %}
                      <tr>

                          <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Pump_Speed}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Flow_Rate}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.pH_Level}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Chlorine_Level}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Turbidity}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Temperature}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Pressure}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Operational_Status}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Quality_Flag}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Sensor_ID}}</td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" >{{object.Prediction}}</td>

                        </tr>

                                        {% endfor %}
                      </table>

                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>